<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GameApp.Properties.Settings>
            <setting name="GameAppWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameAppWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameAppWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameAppWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWhiteWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWhiteWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWhiteWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWhiteWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideGameWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideGameWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideGameWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideGameWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SudokuWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SudokuWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SudokuWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SudokuWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FixPosColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubikCubeWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubikCubeWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubikCubeWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubikCubeWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LifeGameWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LifeGameWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LifeGameWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LifeGameWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlockGameWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlockGameWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlockGameWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlockGameWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TetrisWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TetrisWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TetrisWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TetrisWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineSweeperTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineSweeperLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineSweeperWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineSweeperHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineSweeperRow" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="MineSweeperCol" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="MineSweeperBomb" serializeAs="String">
                <value>5</value>
            </setting>
        </GameApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>